 <div class="front_page_container">
   <div class="front_page">




      <div class="left_column">
        <div style="text-align: center;font-size: 17px;margin-bottom: 15px;">
          DEPARTMENTS
        </div>


        <!--  Art   -->
        <div class="section_thumbnail_container">
              <div class="section_thumb_image">
                <% if @arts.last.image? %>
                    <%= image_tag @arts.last.image_url.to_s %>
                <% else %>
                    <div class="section_thumbnail_no_image" style="text-align: center;">
                      <strong>No image for <%= @arts.last.title.capitalize %></strong>
                    </div>
                <% end %>
              </div>
              <div class="section_thumb_name">
                <strong><%= @arts.last.title %></strong>
              </div>
              <div class="section_thumb_bio">
                <%= truncate(@arts.last.content, :length => 100) %> <br />
              </div>
              <div class="section_thumb_info_link">
                <h5 style="color: orange;"><%= link_to 'View Full Profile', @arts.last %></h5>
              </div>
        </div>
        <!--  Business   -->
        <div class="section_thumbnail_container">
          <div class="section_thumb_image">
            <% if @users.last.profile.image? %>
                <%= image_tag @users.last.profile.image_url.to_s %>
            <% else %>
                <div class="section_thumbnail_no_image" style="text-align: center;">
                  <strong>No image for <%= @users.last.name.capitalize %></strong>
                </div>
            <% end %>
          </div>
          <div class="section_thumb_name">
            <strong><%= @users.last.name %></strong>
          </div>
          <div class="section_thumb_bio">
            <%= truncate(@users.last.bio.content, :length => 100) %> <br />
          </div>
          <div class="section_thumb_info_link">
            <h5 style="color: orange;"><%= link_to 'View Full Profile', @users.last.bio %></h5>
          </div>
        </div>
      </div>
   </div>








      <div class="center_column">
        <div style="text-align: center;font-size: 17px;margin-bottom: 15px;">COVER STORY</div>
       <div class="cover_story_container">
        <div class="cover_story_image" >
          <%= image_tag @arts.first.image_url.to_s %>
        </div>
        <div class="cover_story_content">
          <%= @users.third.bio.content %>
        </div>
       </div>
      </div>








      <div class="right_column">
        <div style="text-align: center;font-size: 17px;margin-bottom: 15px;">COMMUNITY VOICE</div>
        <div id="post_front_page">
          <% @posts.each do |post| %>
              <div class="post_front_page_title">
                <span style="font-size: 15px;color: #808080;"><%= post.title %></span>
              </div>
              <div class="post_front_page_content2">
          <span style="font-size: 12px;color: #808080;"><%= post.content %> <span style="font-size: 12px; color: black;">
            <br /><br /></span></span>
                <div class="posted_by_front_page_container">
                  <div class="posted_by_front_page_image">
                    <%= image_tag post.user.profile.image %>
                  </div>
                </div>
                <div class="posted_by_front_page" style="font-size: 10px;">
                  By: <%= link_to "#{post.user.name.upcase}", post.user.profile %> on: <%= post.created_at.strftime("%m/%d/%Y") %>
                </div>
              </div>
              <br />
          <% end %>
          <%= will_paginate @posts %>
        </div>
      </div>
   </div>
</div>



