<!-- SLIDE SHOW BEGIN   -->
<p style="text-align: center;font-size: 50px;"><%= link_to "OneiricNews", root_path, :class => 'brand' %></p>
<%= render 'home/slideshow' %>
<!-- SLIDE SHOW END   -->
<div class="main_content_container1">
  <div class="main_content_inner_container1">
    <div class="main_content_inner_container1_column1">
      <p style="color:#828288;font-size: 30px;">BostonBeePeople</p>
      <br />
      <div><span style="color:#828288;font-size: 25px;">
        Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees.
        <br><br>Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees. Something about bees.
        <br><br>
        Create an account to raise awareness,  or to connect with others, or just to see how it works - It's Free.
       </span>
      </div>

    </div>
    <div class="main_content_inner_container1_column2">
      <div class="container1_column2_actions" style="font-size: 40px;text-align:right;margin-top: 50px;">
        <%= link_to "Schools" %>
      </div>
      <div class="container1_column2_content1"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "The Blog", posts_path %>
      </div>
      <div class="container1_column2_content2"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Local Hives" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Get Certified" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find A Friend", friendships_path %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Obtain a Permit" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Boston's Regulations" %>
      </div>
    </div>
    <div class="join_button2_container">
      <div class="join_button2">
        <button class= "btn-large btn-primary"><%= link_to "CREATE YOUR FREE ACCOUNT", new_user_registration_path, class: "join" %></button>
      </div>
    </div>
  </div>
</div>








